@model DAL.Entities.TeacherViewForStudent
@{
    ViewBag.Title = "TeacherViewForStudent";
    Layout = "~/Views/Shared/_studentLayout.cshtml";
}

<div class="card">
    <div class="card-header">
    
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>TeacherName</th>
                    <th>email</th>
                    <th>nameofday</th>
                    <th>timing</th>
                    <th>coursename</th>
                    <th>topicname</th>
                    <th>branchname</th>
                    <th>duration</th>
                    <th>coursefee</th>
                    <th>course_desc</th>
                    <th>startdate</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.data)
                {
                    <tr>

                        <td>@item.firstname @item.lastname</td>
                        <td> @item.email </td>
                        <td>@item.nameofday</td>
                        <td> @item.timing </td>
                        <td> @item.coursename </td>
                        <td>@item.topicname</td>
                        <td> @item.branchname </td>
                        <td> @item.duration </td>
                        <td>@item.coursefee</td>
                        <td> @item.course_desc </td>
                        <td> @item.startdate </td>

                    </tr>
                }

        </table>
    </div>
    <!-- /.card-body -->
</div>