@model DAL.Entities.tbl_subject
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_schoolLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Subjects</h3><br /><br />
        <a href="@Url.Action("CreateSubject","School")" class="create">
            Create
        </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>classname</th>
                    <th>SubjectName</th>
                    <th>section</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.data)
                {


                <tr>

                    <td>@item.classname</td>
                    <td>
                        @item.subjectname
                    </td>
                    <td>@item.section</td>

                    <td>
                        <a href="@Url.Action("UpdateSubject", new { subjectid = item.fksubjectid })" class="update">
                            Update
                        </a>
                        <a href="@Url.Action("DeleteSubject", new { subjectid = item.fksubjectid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                            Delete
                        </a>

                    </td>


                </tr>
                }

        </table>
    </div>
    <!-- /.card-body -->
</div>