@model DAL.Entities.tbl_timetable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_schoolLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Time Table</h3><br /><br />
        <a href="@Url.Action("CreateTimetable","School")" class="create">
            Create
        </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>nameofday</th>
                    <th>periodnumber</th>
                    <th>firstname</th>
                    <th>subjectname</th>
                    <th>classname</th>
                    <th>section</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.data)
                {


                <tr>
                    <td> @item.nameofday </td>
                    <td>@item.periodnumber</td>

                    <td>@item.firstname</td>
                    <td>@item.subjectname</td>
                    <td>@item.classname</td>
                    <td>@item.section</td>




                    <td>
                        @*<a href="@Url.Action("UpdateTimetable", new { timetableid = item.timetableid })" class="update">
                            Update
                        </a>*@
                        <a href="@Url.Action("DeleteTimetable", new { timetableid = item.timetableid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                            Delete
                        </a>

                    </td>


                </tr>
                }

        </table>
    </div>
    <!-- /.card-body -->
</div>