@model DAL.Entities.tbl_users
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_schoolLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title" style="margin-left:20px">
                        Update Teacher
                      
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">
                <div>
                    @if (ViewBag.msg != null)
                    {
                        <h1 style="color:red">@ViewBag.msg</h1>
                    }
                </div>
                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("UpdateStudent", "School", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax = "false" }))
                    {
                        <div class="form-group" style="display:none">

                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.userid, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Photo</label>
                            <div class="col-md-10">
                                <img src="../../@ViewBag.cover" width="100" height="170" />

                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            @Html.EditorFor(model => model.userimage, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                First Name
                            </label>

                            @Html.TextBoxFor(x => x.firstname, new { @class = "form-control", @placeholder = "First Name", required = "required" })

                            @Html.ValidationMessageFor(x => x.firstname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Last Name
                            </label>

                            @Html.TextBoxFor(x => x.lastname, new { @class = "form-control", @placeholder = "Last Name", required = "required" })

                            @Html.ValidationMessageFor(x => x.lastname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Email
                            </label>

                            @Html.TextBoxFor(x => x.email, new { @class = "form-control", @placeholder = "Subject Name", required = "required" })

                            @Html.ValidationMessageFor(x => x.email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Password
                            </label>

                            @Html.TextBoxFor(x => x.pass, new { @class = "form-control", @placeholder = "Password", required = "required" })

                            @Html.ValidationMessageFor(x => x.pass, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Contact
                            </label>

                            @Html.TextBoxFor(x => x.contact, new { @class = "form-control", @placeholder = "Password", required = "required" })

                            @Html.ValidationMessageFor(x => x.contact, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Address
                            </label>

                            @Html.TextBoxFor(x => x.address, new { @class = "form-control", @placeholder = "Address", required = "required" })

                            @Html.ValidationMessageFor(x => x.address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                City
                            </label>

                            @Html.TextBoxFor(x => x.city, new { @class = "form-control", @placeholder = "City", required = "required" })

                            @Html.ValidationMessageFor(x => x.city, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                State
                            </label>

                            @Html.TextBoxFor(x => x.state, new { @class = "form-control", @placeholder = "State", required = "required" })

                            @Html.ValidationMessageFor(x => x.state, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Country
                            </label>

                            @Html.TextBoxFor(x => x.country, new { @class = "form-control", @placeholder = "Country", required = "required" })

                            @Html.ValidationMessageFor(x => x.country, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Pin Code
                            </label>

                            @Html.TextBoxFor(x => x.pin, new { @class = "form-control", @placeholder = "Pin Code", required = "required" })

                            @Html.ValidationMessageFor(x => x.pin, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Status
                            </label>

                            <select id="mainFilterDropdown" class="form-control" name="isactive" required>
                                @if (Model.isactive == true)
                                {
                                    <option value="True">Active</option>
                                    <option value="False">InActive</option>
                                }
                                else
                                {

                                    <option value="False">InActive</option>
                                    <option value="True">Active</option>
                                }


                            </select>

                            @Html.ValidationMessageFor(x => x.isactive, "", new { @class = "text-danger", required = "required" })
                        </div>
                        <div class="form-group">

                            @if (Model.sex == "Male")
                            {
                                <input type="radio" id="male" name="sex" value="Male" checked>
                                <label for="html">Male</label><br>
                                <input type="radio" id="female" name="sex" value="Female">
                                <label for="css">Female</label><br>
                            }
                            else
                            {
                                <input type="radio" id="male" name="sex" value="Male">
                                <label for="html">Male</label><br>
                                <input type="radio" id="female" name="sex" value="Female" checked>
                                <label for="css">Female</label><br>
                            }
                            @Html.ValidationMessageFor(x => x.sex, "", new { @class = "text-danger", required = "required" })
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Image</label>
                            <div class="col-md-10">
                                <input type="file" name="uploadFile1" id="uploadFile1" class="form-control" />
                                @Html.ValidationMessageFor(model => model.userimage, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("StudentMaster","School")" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>