@model DAL.Entities.tbl_course_topic

@{
    ViewBag.Title = "CreateCourseTopic";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title" style="margin-left:20px">
                        Add Course Branch
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">
                <div>
                    @if (ViewBag.msg != null)
                    {
                        <h1 style="color:red">@ViewBag.msg</h1>
                    }
                </div>
                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateCourseTopic", "SuperAdmin", FormMethod.Post,
                                      new { enctype = "multipart/form-data", @data_ajax = "false" }))
                    {

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Topic Name
                            </label>

                            @Html.TextBoxFor(x => x.topicname, new { @class = "form-control", @placeholder = "Topic Name", required = "required" })

                            @Html.ValidationMessageFor(x => x.topicname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Branch ID
                            </label>

                            @Html.TextBoxFor(x => x.fk_coursebranchid, new { @class = "form-control", @placeholder = "Branch ID", required = "required" })

                            @Html.ValidationMessageFor(x => x.fk_coursebranchid, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("GetAllCourseTopic","SuperAdmin")" class="btn btn-primary">Cancel</a>

                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
