@model IEnumerable<DAL.Entities.tbl_course_branch>

@{
    ViewBag.Title = "GetAllCourseBranch";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Branches</h3><br /><br />
        <a href="@Url.Action("CreateCourseBranch","SuperAdmin")" class="create">
            Create
        </a>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.branchname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cr_date)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>
                            @item.branchname
                        </td>
                        <td>
                            @item.cr_date
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.coursebranchid }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.coursebranchid })
                        </td>
                    </tr>
                }

        </table>
        </div>
</div>