@model IEnumerable<DAL.Entities.tbl_subject>

@{
    ViewBag.Title = "GetAllSubject";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Subjects</h3><br /><br />
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.subjectname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fkclassid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cr_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fkschoolid)
                    </th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>
                            @item.subjectname
                        </td>
                        <td>
                            @item.fkclassid
                        </td>
                        <td>
                            @item.cr_date
                        </td>
                        <td>
                            @item.fkschoolid
                        </td>
                        <td>
                            <a href="@Url.Action("UpdateSubject", new { subjectid = item.subjectid })" class="update">
                                Update
                            </a>
                            <a href="@Url.Action("DeleteSubject", new { subjectid = item.subjectid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>
</div>