@model IEnumerable<BLL.Models.SchoolView>

@{
    ViewBag.Title = "GetAllSchool";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Schools</h3><br /><br />
        <a href="@Url.Action("CreateSchool","SuperAdmin")" class="create">
            Create
        </a>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        School Name
                    </th>
                    <th>
                        Contact
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Pin
                    </th>
                    <th>
                        Active Status
                    </th>
                    <th>
                        User Name
                    </th>
                    <th>
                        Curriculum
                    </th>
                    <th>Operation</th>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>
                            @item.schoolname
                        </td>
                        <td>
                            @item.contact
                        </td>
                        <td>
                            @item.address
                        </td>
                        <td>
                            @item.city
                        </td>
                        <td>
                            @item.state
                        </td>
                        <td>
                            @item.country
                        </td>
                        <td>
                            @item.pin
                        </td>
                        <td>
                            @item.isactive
                        </td>
                        <td>
                            @item.username
                        </td>
                        <td>
                            @item.curriculum
                        </td>
                        <td>
                            <a href="@Url.Action("UpdateSchool", new { userid = item.fkuserid })" class="update">
                                Update
                            </a>
                            @if (item.isactive == true)
                            {
                                <a href="@Url.Action("ChangeSchoolActiveStatus", new { schoolid = item.schoolid })" class="update">
                                    Inactive
                                </a>
                            }
                            else if (item.isactive == false)
                            {
                                <a href="@Url.Action("ChangeSchoolActiveStatus", new { schoolid = item.schoolid })" class="update">
                                    Active
                                </a>
                            }
                            <a href="@Url.Action("DeleteSchool", new { userid = item.fkuserid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>
</div>
