@model IEnumerable<DAL.Entities.tbl_school>

@{
    ViewBag.Title = "GetAllSchool";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}

<h2>School list</h2>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Schools</h3><br /><br />
        <a href="@Url.Action("CreateSchool","SuperAdmin")" class="create">
            Create
        </a>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.schoolname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.contact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.city)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.state)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isactive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cr_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.up_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isdelete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fkuserid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.curriculum)
                    </th>
                    <th>Operation</th>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>
                            @item.schoolname
                        </td>
                        <td>
                            @item.contact
                        </td>
                        <td>
                            @item.address
                        </td>
                        <td>
                            @item.city
                        </td>
                        <td>
                            @item.state
                        </td>
                        <td>
                            @item.country
                        </td>
                        <td>
                            @item.pin
                        </td>
                        <td>
                            @item.isactive
                        </td>
                        <td>
                            @item.cr_date
                        </td>
                        <td>
                            @item.up_date
                        </td>
                        <td>
                            @item.isdelete
                        </td>
                        <td>
                            @item.fkuserid
                        </td>
                        <td>
                            @item.curriculum
                        </td>
                        <td>
                            <a href="@Url.Action("UpdateSchool", new { userid = item.fkuserid })" class="update">
                                Update
                            </a>
                            <a href="@Url.Action("DeleteClass", new { userid = item.fkuserid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>
</div>
