@model IEnumerable<DAL.Entities.tbl_users>

@{
    ViewBag.Title = "GetAllIndividualTeacher";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}

<h2>GetAllIndividualTeacher</h2>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Individual Teachers</h3><br /><br />
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        User Image
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Pass
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Contact
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Pin
                    </th>
                    <th>
                        Active Status
                    </th>
                    <th>
                        Sex
                    </th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>
                            <img src="../../@item.userimage" height="50" />
                        </td>
                        <td>
                            @item.email
                        </td>
                        <td>
                            @item.pass
                        </td>
                        <td>
                            @item.firstname
                        </td>
                        <td>
                            @item.lastname
                        </td>
                        <td>
                            @item.contact
                        </td>
                        <td>
                            @item.address
                        </td>
                        <td>
                            @item.city
                        </td>
                        <td>
                            @item.state
                        </td>
                        <td>
                            @item.country
                        </td>
                        <td>
                            @item.pin
                        </td>
                        <td>
                            @item.isactive
                        </td>
                        <td>
                            @item.sex
                        </td>
                        <td>
                            <a href="@Url.Action("UpdateIndividualTeacher", new { userid = item.userid })" class="update">
                                Update
                            </a>
                            <a href="@Url.Action("ChangeUserActiveStatus", new { userid = item.userid })" class="update">
                                Active/InActive
                            </a>
                            <a href="@Url.Action("DeleteIndividualTeacher", new { userid = item.userid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>
</div>