@model IEnumerable<BLL.Models.CourseTopicView>

@{
    ViewBag.Title = "GetAllCourseTopic";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Course Topic</h3><br /><br />
        <a href="@Url.Action("CreateCourseTopic","SuperAdmin")" class="create">
            Create
        </a>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Course Topic name
                    </th>
                    <th>
                        Course Branch Name
                    </th>
                    <th>Operation</th>
                </tr>
                </thead>
            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>
                            @item.topicname
                        </td>
                        <td>
                            @item.branchname
                        </td>
                        <td>
                            <a href="@Url.Action("UpdateCourseTopic", new { coursetopicid = item.coursetopicid })" class="update">
                                Update
                            </a>
                            <a href="@Url.Action("DeleteTopic", new { coursetopicid = item.coursetopicid })" class="delete" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }

        </table>
        </div>
</div>