@model BLL.Models.CourseView

@{
    ViewBag.Title = "GetCourses";
    Layout = "~/Views/Shared/_superAdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Course Details</h3><br /><br />
        <!-- /.card-header -->
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    Course Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.coursename)
                </dd>

                <dt>
                    Duration
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.duration)
                </dd>

                <dt>
                    Course Fee
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.coursefee)
                </dd>

                <dt>
                    Course Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.course_desc)
                </dd>

                <dt>
                    Start Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.startdate)
                </dd>

                <dt>
                    Course Topic
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.courseTopicName)
                </dd>

                <dt>
                    User Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.username)
                </dd>

            </dl>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <a href="@Url.Action("GetAllCourses","SuperAdmin")" class="btn btn-primary">Back</a>

        </div>
        <!-- /.card-body -->
    </div>
