
@model DAL.Entities.PurchaseCouseView
@{
    ViewBag.Title = "PurchaseCouse";
    Layout = "~/Views/Shared/_teacherLayout.cshtml";
}
<div class="card">
    <div class="card-header">

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>coursename</th>
                    <th>duration</th>
                    <th>course_desc </th>
                    <th>startdate</th>
                    <th>nameofday</th>
                    <th>timing</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>@item.coursename</td>
                        <td> @item.duration </td>
                        <td>@item.course_desc</td>
                        <td> @item.startdate </td>
                        <td>@item.nameofday</td>
                        <td> @item.timing </td>
                        
                        <td><a href="https://demo.bigbluebutton.org/rooms/mly-le2-xoy-6sy/join" target="_blank" class="btn btn-primary">Go Live</a> </td>
                    </tr>
                }

        </table>
    </div>
    <!-- /.card-body -->
</div>
